<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".WeatherApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SimpleWeather">

        <!-- Disable default WorkManager initializer so our HiltWorkerFactory is used -->
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">
            <meta-data
                android:name="androidx.work.WorkManagerInitializer"
                android:value="androidx.startup"
                tools:node="remove" />
        </provider>

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.SimpleWeather">
        </activity>

        <!-- Sunny Weather Alias (Enabled by default as initial launcher) -->
        <activity-alias
            android:name=".MainActivitySunny"
            android:targetActivity=".MainActivity"
            android:icon="@mipmap/ic_launcher_sunny"
            android:roundIcon="@mipmap/ic_launcher_sunny_round"
            android:label="@string/app_name"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <!-- Rainy Weather Alias -->
        <activity-alias
            android:name=".MainActivityRainy"
            android:targetActivity=".MainActivity"
            android:icon="@mipmap/ic_launcher_rainy"
            android:roundIcon="@mipmap/ic_launcher_rainy_round"
            android:label="@string/app_name"
            android:enabled="false"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <!-- Snowy Weather Alias -->
        <activity-alias
            android:name=".MainActivitySnowy"
            android:targetActivity=".MainActivity"
            android:icon="@mipmap/ic_launcher_snowy"
            android:roundIcon="@mipmap/ic_launcher_snowy_round"
            android:label="@string/app_name"
            android:enabled="false"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <!-- Cloudy Weather Alias -->
        <activity-alias
            android:name=".MainActivityCloudy"
            android:targetActivity=".MainActivity"
            android:icon="@mipmap/ic_launcher_cloudy"
            android:roundIcon="@mipmap/ic_launcher_cloudy_round"
            android:label="@string/app_name"
            android:enabled="false"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <!-- Storm Weather Alias -->
        <activity-alias
            android:name=".MainActivityStorm"
            android:targetActivity=".MainActivity"
            android:icon="@mipmap/ic_launcher_storm"
            android:roundIcon="@mipmap/ic_launcher_storm_round"
            android:label="@string/app_name"
            android:enabled="false"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <receiver
            android:name=".presentation.widget.WeatherWidgetReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/weather_widget_info" />
        </receiver>

    </application>

</manifest>